<h1>Customer Service Survey</h1>

<p>Thank you so much for taking the time to give us feedback on our work!</p>


<%= form_for @survey_response do |f| %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :rating %>
  <%= f.select :rating, [1, 2, 3, 4, 5] %>

  <%= f.label :comment %>
  <%= f.text_area :comment %> 

  <%= f.submit %>
<% end %>
